<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {title: "Historial de pedidos"}) %>
</head>

<body>
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <section class="body-section">
        <div class="container">
            <h1 class="product-section_title"><i class="fas fa-history"></i> Historial de pedidos</h1>
            <form action="" class="product-section_form">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$119.70</td>
                                <td><a href="/products/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$76.50</td>
                                <td><a href="/products/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$400.00</td>
                                <td><a href="/products/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$118.00</td>
                                <td><a href="/products/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$1589.95</td>
                                <td><a href="/products/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include("../partials/footer") %>

    <!-- SCRIPTS -->
    <%- include("../partials/scripts") %>
</body>

</html>