<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <link rel="shortcut icon" type="image/svg" href="/images/logo/favicon.svg">
    <title>Admin: listado de productos | Pedí Fácil</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 logo-header">
                    <a href="/">
                        <img id="logoHeader" src="/images/logo/logoColorH.svg" alt="logo pedi facil">
                     </a>
                </div>
                <div class="col-3 col-sm-3 col-md-1 col-lg-2 product-grid-header">
                    <a href="#">
                        <i class="fas fa-th"></i>
                    </a>
                </div>
                <div class="col-3 col-sm-3 menu-button-header">
                    <i onclick="on()" class="fas fa-bars"></i>
                    <div id="overlay">
                        <div class="col-12 col-sm-12 close-overlay">
                            <button type="button" class="btn btn-danger" onclick="off()">x</button>
                        </div>
                        <div id="overlay-menu">
                            <ul>
                                <li><a href="/login">Usuario <i class="fas fa-user-circle"></i></a></li>
                                <li><a href="/product/cart">Carrito de compras <i class="fas fa-shopping-cart"></i></a></li>
                                <li onclick="darkMode(), off()">Dark Mode <i class="fas fa-adjust"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 search-bar-header">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Que estas buscando?"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-1 dark-mode-switch-header">
                    <div class="custom-control custom-switch">
                        <input onclick="darkMode()" type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"><i class="fas fa-adjust"></i></label>
                    </div>
                </div>
                <div class="col-md-1 cl-lg-1 user-header">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </div>
                <div class="col-md-1 col-lg-1 cart-header">
                    <a href="/product/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container">
            <h1 class="product-section_title"><i class="fas fa-user-cog"></i> Administrar productos</h1>
            <form action="" class="product-section_form">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td>Lorem ipsum dolor sit</td>
                                <td>$19.95</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto1">
                                        <option selected value="9999">9999</option>
                                    </select>
                                </td>
                                <td class="product-actions">
                                    <a href="/admin/edit"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td>Lorem ipsum dolor sit</td>
                                <td>$25.50</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto2">
                                        <option selected value="9999">9999</option>
                                    </select>
                                </td>
                                <td class="product-actions">
                                    <a href="/admin/edit"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td>Lorem ipsum dolor sit</td>
                                <td>$200.00</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto3">
                                        <option selected value="9999">9999</option>
                                    </select>
                                </td>
                                <td class="product-actions">
                                    <a href="/admin/edit"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td>Lorem ipsum dolor sit</td>
                                <td>$5.90</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto4">
                                        <option selected value="9999">9999</option>
                                    </select>
                                </td>
                                <td class="product-actions">
                                    <a href="/admin/edit"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td>Lorem ipsum dolor sit</td>
                                <td>$1589.95</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto5">
                                        <option selected value="9999">9999</option>
                                    </select>
                                </td>
                                <td class="product-actions">
                                    <a href="/admin/edit"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product-section_foot">
                    <a href="/admin/add" class="add-product">
                        <button type="button" class="btn btn-primary add-product_button">Agregar producto</button>
                    </a>
                </div>
            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-2 col-lg-2 logo-footer">
                    <a href="/">
                        <img src="/images/logo/logoWhite.svg" alt="">
                    </a>
                </div>
                <div class="col-7 col-sm-8 col-lg-8 pf-inc">
                    <span>@ 2020 Pedi Facil Inc.</span>
                </div>
                <div class="col-2 col-sm-2 col-lg-2 social-media-icons">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Dark mode -->
    <script src="/javascripts/darkMode.js"></script>

    <!-- Overlay menu -->
    <script src="/javascripts/overlayMenu.js"></script>

    <!-- Bootstrap -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>

</html>