<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <link rel="shortcut icon" type="image/svg" href="/images/logo/favicon.svg">
    <title>Admin: modificar producto | Pedí Fácil</title>
</head>

<body>
   <!-- HEADER -->
   <header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 logo-header">
                <a href="/">
                    <img id="logoHeader" src="/images/logo/logoColorH.svg" alt="logo pedi facil">
                 </a>
            </div>
            <div class="col-3 col-sm-3 col-md-1 col-lg-2 product-grid-header">
                <a href="#">
                    <i class="fas fa-th"></i>
                </a>
            </div>
            <div class="col-3 col-sm-3 menu-button-header">
                <i onclick="on()" class="fas fa-bars"></i>
                <div id="overlay">
                    <div class="col-12 col-sm-12 close-overlay">
                        <button type="button" class="btn btn-danger" onclick="off()">x</button>
                    </div>
                    <div id="overlay-menu">
                        <ul>
                            <li>Usuario <i class="fas fa-user-circle"></i></li>
                            <li>Carrito de compras <i class="fas fa-shopping-cart"></i></li>
                            <li onclick="darkMode(), off()">Dark Mode<i class="fas fa-adjust"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 search-bar-header">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Que estas buscando?"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-1 dark-mode-switch-header">
                <div class="custom-control custom-switch">
                    <input onclick="darkMode()" type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"><i class="fas fa-adjust"></i></label>
                </div>
            </div>
            <div class="col-md-1 cl-lg-1 user-header">
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>
            <div class="col-md-1 col-lg-1 cart-header">
                <a href="/product/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</header>

    <section class="body-section">
        <div class="container">
            <h1 class="product-section_title"><i class="fas fa-user-cog"></i> Modificar producto</h1>
            <form class="admin-product">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" name="name" value="Lorem ipsum dolor sit">
                </div>
                <div class="form-group">
                    <label for="brand">Marca:</label>
                    <input type="text" class="form-control" id="brand" name="brand" value="Lorem ipsum dolor sit">
                </div>
                <div class="form-group">
                    <label for="quantity">Cantidad:</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" value="1L">
                </div>
                <div class="form-group">
                    <label for="price">Precio:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" id="price" name="price" class="form-control" value="19.95">
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="number" class="form-control" id="stock" name="stock" value="9999">
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea class="form-control" id="description" name="description" rows="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex facere ducimus iusto doloribus veritatis ut inventore, impedit laudantium molestiae natus sapiente exercitationem itaque in molestias maxime voluptates. Consectetur, necessitatibus.</textarea>
                </div>
                <div class="form-group">
                    <label for="image">Imagen del producto:</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="number" class="form-control" id="id" name="id" value="2">
                </div>
                <div class="form-group">
                    <div class="admin-product_buttons">
                        <a href="/admin/list"><button type="button" class="btn btn-link"><i class="fas fa-angle-left"></i> Volver</button></a>
                        <button type="reset" class="btn btn-outline-warning">Reiniciar</button>
                        <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-2 col-lg-2 logo-footer">
                    <img src="/images/logo/logoWhite.svg" alt="">
                </div>
                <div class="col-7 col-sm-8 col-lg-8 pf-inc">
                    <span>@ 2020 Pedi Facil Inc.</span>
                </div>
                <div class="col-2 col-sm-2 col-lg-2 social-media-icons">
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Dark mode -->
    <script src="/javascripts/darkMode.js"></script>

    <!-- Overlay menu -->
    <script src="/javascripts/overlayMenu.js"></script>

    <!-- Bootstrap -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>

</html>