/* ------HEADER------ */
header{
    border-bottom: 0.5vh solid rgb(240, 240, 240);
    height: fit-content;
}

.logo-header{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo-header a{
    width: 90%;
}

.search-bar-header{
    height: 10vh;
}

.search-bar-header span{
    background-color: white;
}

.search-bar-header .form-control{
    border-right: white;
}

.search-button {
    background: none;
}

.product-grid-header, .search-bar-header, .dark-mode-switch-header, .user-header, .cart-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.5rem;
}

.product-grid-header a, .user-header a, .cart-header a {
    color: #073042;
}

.product-grid-header i{
    font-size: 2rem;
    /* color: #313A46; */
}

.search-bar-header{
    font-size: 1rem;
}

.search-bar-header, .user-header, .cart-header{
    justify-content: flex-end;
}

.menu-button-header{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.menu-button-header i{
    color: white;
    background-color: #313A46;
    border-radius: 5px;
    padding: 6px 9px;
    box-sizing: border-box;
}

/*------FOOTER------*/
footer{
    background-color: #313A46;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.logo-footer{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer img{
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    height: 10vh;
}

.social-media-icons{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.social-media-icons ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.social-media-icons ul li{
    list-style: none;
}

footer i{
    display: flex;
    font-size: 1.5rem;
    color: white;
}

.pf-inc{
    height: 10vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pf-inc span{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 0.8rem;
}

.pf-inc span a {
    color: white;
}

/*------MEDIA QUERIES------*/

@media (max-width: 460px){
    /* ---FOOTER--- */
    .logo-footer, .logo-footer img, .social-media-icons, .pf-inc{
        height: 9vh;
    }

    footer i{
        font-size: 1rem;
    }

    .pf-inc span{
        font-size: 0.6rem;
    }
}

@media (max-width:767px){

    .product-grid-header, .menu-button-header{
        font-size: 1rem;
    }

    .user-header{
        display: none;
    }

    .cart-header{
        display: none;
    }

    .dark-mode-switch-header{
        display: none;
    }

}

/* ------------------------ */

@media (min-width: 768px) {

    /* ---HEADER--- */

    .logo-header,.search-bar-header, .menu-button-header{
        height: 13vh;
    }

    .menu-button-header{
        display: none;
    }

    .dark-mode-switch-header{
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* ---FOOTER--- */
    .logo-footer, .logo-footer img, .social-media-icons, .pf-inc{
        height: 13vh;
    }

    footer i{
        font-size: 2rem;
    }

    .pf-inc span{
        font-size: 1.2rem;
    }
}


/*------NEW------*/

.dark-mode {
    background-color: #222;
    color:white;
  }

#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313A46;
    opacity: 0.96;
    z-index: 300;
}

#overlay-menu{
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 1rem;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #313A46;
    box-sizing: border-box;
    font-weight: bolder;
}

#overlay-menu ul li a {
    color: white;
}

.menu-button-header ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

.close-overlay{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3vh;
}