@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4285F4;
  text-decoration: none;
}

.body-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.body-section .form-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}

.body-section .product-section_title {
  margin-bottom: 60px;
  color: #073042;
  font-size: 30px;
}

.body-section .table-responsive .table .thead-dark th {
  background-color: #073042;
  border: 0;
}

.body-section .table-responsive .table tbody tr td .imagen {
  background-color: gray;
  width: 30px;
  height: 30px;
}

.body-section .table-responsive .table tbody tr td .custom-select {
  width: 100px;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}

.body-section .table-responsive .table tbody tr td a i {
  font-size: 20px;
}

.body-section .table-responsive .table tbody tr td a .fa-trash {
  color: #dc3545;
}

.body-section .table-responsive .table tbody tr td a .fa-trash:hover {
  color: #c82333;
}

.body-section .table-responsive .table tbody tr td a .fa-redo-alt {
  color: #28a745;
}

.body-section .table-responsive .table tbody tr td a .fa-redo-alt:hover {
  color: #218838;
}

.body-section .table-responsive .table tbody tr td a .fa-edit {
  color: #073042;
}

.body-section .table-responsive .table tbody tr td a .fa-toggle-on {
  color: #28a745;
}

.body-section .table-responsive .table tbody tr .product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
}

.body-section .table-responsive .table tbody tr .product-actions form button {
  border: none;
}

.body-section .table-responsive .table tbody tr .product-actions form button .fa-trash {
  color: #dc3545;
  font-size: 20px;
}

.body-section .table-responsive .table tbody tr .product-actions form button .fa-trash:hover {
  color: #c82333;
  font-size: 20px;
}

.body-section .table-responsive .table tbody .total-purchase {
  font-weight: 800;
}

.body-section .product-section_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 50px;
}

.body-section .product-section_foot .form-control {
  margin-bottom: 50px;
}

.body-section .product-section_foot .btn {
  font-weight: 600;
  min-width: 200px;
  padding: 0;
}

.body-section .product-section_foot .back {
  width: 66px;
  margin-bottom: 20px;
}

.body-section .product-section_foot .back .btn-link {
  min-width: auto;
}

.body-section .product-section_foot .add-product_button {
  width: 100%;
}

@media (min-width: 768px) {
  .body-section .product-section_foot {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .body-section .product-section_foot label {
    margin: 0;
    text-align: left;
  }
  .body-section .product-section_foot .form-control {
    margin-left: 10px;
    margin-bottom: 0;
    max-width: 300px;
  }
  .body-section .product-section_foot .purchase, .body-section .product-section_foot .add-product, .body-section .product-section_foot .repeat {
    margin-left: auto;
  }
  .body-section .product-section_foot .back {
    width: auto;
    margin: 0;
  }
}

.body-section .admin-product {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #00000050;
          box-shadow: 0 0 10px #00000050;
}

.body-section .admin-product .admin-product_buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-section .admin-product .admin-product_buttons a .btn-link {
  padding: 0;
}

.body-section .social {
  margin-top: 40px;
}

.body-section .social .social-login {
  display: block;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.body-section .social .social-login i {
  margin-left: 25px;
}

.body-section .social .social-login img {
  margin-left: 20px;
  height: 16px;
}

.body-section .social .social-login span {
  margin-left: 20px;
}

.body-section .social .facebook {
  background-color: #1A538A;
  color: white;
}

.body-section .social .google {
  background-color: white;
  color: #313A46;
  border: 1px solid #313A46;
}

.body-section .form-foot {
  text-align: center;
  margin-top: 20px;
}

.body-section .product-detail_h2 {
  display: none;
}

@media (min-width: 768px) {
  .body-section .product-detail_h2 {
    display: block;
    color: #aaa;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.body-section .product-detail_section {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #00000050;
          box-shadow: 0 0 10px #00000050;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.body-section .product-detail_section .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-section .product-detail_section .left img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .body-section .product-detail_section .left {
    width: 50%;
    margin-bottom: 0;
  }
}

.body-section .product-detail_section .right {
  padding: 10px;
  width: 100%;
}

.body-section .product-detail_section .right h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.body-section .product-detail_section .right p {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .body-section .product-detail_section .right p {
    margin-bottom: 35px;
  }
}

.body-section .product-detail_section .right .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.body-section .product-detail_section .right .price span:first-child {
  display: block;
  font-size: 30px;
}

.body-section .product-detail_section .right .price .discount {
  font-size: 1em;
  font-weight: 500;
  color: #39b54a;
  margin: 0 0 0 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .body-section .product-detail_section .right .price {
    margin-bottom: 35px;
  }
}

.body-section .product-detail_section .right form {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-section .product-detail_section .right form .product-detail_quantity {
  width: 70px;
}

.body-section .product-detail_section .right form .product-detail_button {
  margin-left: 20px;
  width: calc(100% - 90px);
  font-weight: 600;
}

@media (min-width: 768px) {
  .body-section .product-detail_section .right form .product-detail_button {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .body-section .product-detail_section .right form {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .body-section .product-detail_section .right {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .body-section .product-detail_section .right {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) {
  .body-section .product-detail_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .body-section .product-detail_section {
    min-height: 450px;
  }
}
/*# sourceMappingURL=styles.css.map */