@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Variables
$gray: #313A46;
$light-gray: #666666;
$dark-blue: #073042;
$dark-blue-transparent: #4285F460;
$light-blue: #4285F4;
$white-blue: #F9FBFE;
$green: #39b54a;
$shadow: 0 0 10px #00000050;

//Estilos generales

* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: $light-blue;
    text-decoration: none;
}

//Estilos puntuales

.body-section {
    padding-top: 40px;
    padding-bottom: 40px;

    .banner {

        .d-block{
            height: 70vh;
            padding: 3vh 0;
        }
    }

    .form-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .products-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;

        .products-title {
            font-size: 1.8em;
            font-weight: 400;
            color: $light-gray;

        }

        .product-box {
            background-color: #ffffff;
            border-radius: 5px;
            overflow: hidden;
            transition: 150ms;
            margin: 20px 0;
            border: 1px solid $dark-blue-transparent;

            a {
                display: block;
                color: $dark-blue;
            }

            .product-box_image {
                border-bottom: 1px solid $dark-blue-transparent;
                margin: 0;

                img {
                    width: 100%;
                }
            }

            .product-box_data {
                padding: 15px;
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                h2 {
                    font-size: 1.6em;
                    font-weight: 300;
                    margin: 0;
                }

                span {
                    font-size: 1em;
                    font-weight: 500;
                    color: $green;
                    margin: 0 0 0 10px;
                }

                p {
                    font-size: 1em;
                    width: 100%;
                    color: $light-gray;
                    margin: 0;
                    height: 0;
                    transition: 150ms;
                    overflow: hidden;
                }
            }
        }

        .product-box:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            p {
                height: 50px;
                margin-top: 15px;
            }
        }
    }

    .product-section_title {
        margin-bottom: 60px;
        color: $dark-blue;
        font-size: 30px;
    }

    .table-responsive {

        .table {

            .thead-dark {

                th {
                    background-color: $dark-blue;
                    border: 0;
                }
            }

            tbody {

                tr {

                    td {

                        .imagen {
                            background-color: gray;
                            width: 30px;
                            height: 30px;

                            img {
                                width: 100%;
                            }
                        }

                        .custom-select {
                            width: 100px;
                            padding-top: 0;
                            padding-bottom: 0;
                            height: 30px;
                        }

                        a {

                            i {
                                font-size: 20px;
                            }

                            .fa-trash {
                                color: #dc3545;
                            }

                            .fa-trash:hover {
                                color: #c82333;
                            }

                            .fa-redo-alt {
                                color: #28a745;
                            }

                            .fa-redo-alt:hover {
                                color: #218838;
                            }

                            .fa-edit {
                                color: $dark-blue;
                            }

                            .fa-toggle-on {
                                color: #28a745;
                            }
                        }
                    }

                    .product-actions {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        align-items: center;
                        padding-top: 11px;

                        form {

                            button {
                                border: none;
                                background: none;

                                .fa-trash {
                                    color: #dc3545;
                                    font-size: 20px;
                                }

                                .fa-trash:hover {
                                    color: #c82333;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .total-purchase {
                    font-weight: 800;
                }
            }
        }
    }

    .product-section_foot {
        display: flex;
        flex-flow: column wrap;
        margin-top: 50px;

        .form-control {
            margin-bottom: 50px;
        }

        .btn {
            font-weight: 600;
            min-width: 200px;
            padding: 0;
        }

        .back {
            width: 66px;
            margin-bottom: 20px;

            .btn-link {
                min-width: auto;
            }
        }

        .add-product_button {
            width: 100%;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            margin-top: 30px;

            label {
                margin: 0;
                text-align: left;
            }

            .form-control {
                margin-left: 10px;
                margin-bottom: 0;
                max-width: 300px;
            }

            .purchase, .add-product, .repeat {
                margin-left: auto;
            }

            .back {
                width: auto;
                margin: 0;
            }
        }
    }

    .admin-product {
        max-width: 500px;
        margin: 0 auto;
        padding: 50px;
        border-radius: 10px;
        box-shadow: $shadow;

        .admin-product_buttons {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {

                .btn-link {
                    padding: 0;
                }
            }
        }
    }

    .social {
        margin-top: 40px;

        .social-login {
            display: block;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            border-radius: 5px;

            i {
                margin-left: 25px;
            }

            img {
                margin-left: 20px;
                height: 16px;
            }

            span {
                margin-left: 20px;
            }
        }

        .facebook {
            background-color: #1A538A;
            color: white;
        }

        .google {
            background-color: white;
            color: $gray;
            border: 1px solid $gray;
        }
    }

    .form-foot {
        text-align: center;
        margin-top: 20px;
    }

    .product-detail_h2 {
        display: none;

        @media (min-width: 768px) {
            display: block;
            color: #aaa;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .product-detail_section {
        border-radius: 10px;
        box-shadow: $shadow;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;

        .left {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }

            @media (min-width: 768px) {
                width: 50%;
                margin-bottom: 0;
            }
        }

        .right {
            padding: 10px;
            width: 100%;

            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 60px;

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-bottom: 35px;
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                margin-bottom: 60px;

                .price_old {
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    color: $green;

                    .price_old_mount {
                        margin-right: 5px;
                        text-decoration: line-through;
                    }

                    .price_old_discount {
                        margin-left: 5px;
                        font-weight: 500;
                    }
                }

                .price_final {
                    display: block;
                    font-size: 2.6em;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-bottom: 35px;
                }
            }

            form {
                margin-bottom: 20px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;

                .product-detail_quantity {
                    width: 70px;
                }

                .product-detail_button {
                    margin-left: 20px;
                    width: calc(100% - 90px);
                    font-weight: 600;

                    @media (min-width: 768px) {
                        max-width: 300px;
                    }
                }

                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 992px) {
                padding-top: 50px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;
        }

        @media (min-width: 992px) {
            min-height: 450px;
        }
    }

    .error {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        color: $gray;
        margin: 30px 0;

        p {
            i {
                font-size: 100px;
                margin-bottom: 30px;
            }
        }

        p:nth-child(2) {
            font-size: 150px;
            margin-bottom: 20px;
            line-height: 150px;
        }

        span {
            font-size: 30px;
        }
    }
}