@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Variables
$gray: #313A46;
$light-gray: #666666;
$dark-blue: #073042;
$dark-blue-transparent: #4285F460;
$light-blue: #4285F4;
$white-blue: #F9FBFE;
$green: #39b54a;
$shadow: 0 0 10px #00000050;
$transition: all 400ms;
$transition-short: all 100ms;

$tablet: "min-width: 768px";
$desktop: "min-width: 992px";
$desktop-large: "min-width: 1200px";

//Estilos generales

* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: $light-blue;
    text-decoration: none;
}

body.no-scroll {
    overflow-y: hidden;
}

//Estilos puntuales

//Estilos header, footer y dark mode

.header {
    padding: 5px 0;
    border-bottom: 1px solid $light-gray;
    background-color: white;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {

            @media ($desktop) {
                margin: 5px 0;
            }
        }

        .header-icons-right {
            display: flex;
            justify-content: flex-end;
            padding: 0;

            .cart {
                padding: 0;
                margin-right: 15px;

                i {
                    color: $gray;
                    font-size: 25px;
                }

                &:focus {
                    box-shadow: none;
                }

                &:hover {

                    i {
                        color: $light-blue;
                    }
                }

                @media ($tablet) {
                    margin-left: 35px;
                }
            }

            .search-toggle {
                padding: 0;
                margin-right: 15px;

                i {
                    color: $gray;
                    font-size: 25px;
                }

                &:focus {
                    box-shadow: none;

                    &:hover {

                        i {
                            color: $light-blue;
                        }
                    }
                }

                &:hover {

                    i {
                        color: $light-blue;
                    }
                }

                @media ($desktop) {
                    display: none;
                }
            }

            @media ($desktop) {
                display: none;
            }
        }

        .products-link {
            display: none;

            @media ($desktop) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 25px;
                    color: $gray;
                }

                span {
                    font-size: 13px;
                }

                &:hover {

                    i, span {
                        color: $light-blue;
                    }
                }
            }
        }

        .menu {
            background-color: transparent;
            border: none;
            display: flex;
            padding: 0;
            outline: none;
            justify-self: center;
            z-index: 200;

            &:focus {
                background-color: transparent;
                outline: none;
            }

            svg {

                .line {
                    fill: none;
                    stroke: $gray;
                    stroke-width: 7.5;
                    transition: $transition cubic-bezier(0.4, 0, 0.2, 1),
                        $transition cubic-bezier(0.4, 0, 0.2, 1);
                }

                .line1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 7.5;
                    stroke-linecap: round;
                }

                .line2 {
                    stroke-dasharray: 45 60;
                    stroke-width: 7.5;
                    stroke-linecap: round;
                }

                .line3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 7.5;
                    stroke-linecap: round;
                }
            }

            &.opened .line1 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 7.5.5;
                stroke: $white-blue;
            }

            &.opened .line2 {
                stroke-dasharray: 1 60;
                stroke-dashoffset: -30;
                stroke: $white-blue;
            }

            &.opened .line3 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke: $white-blue;
            }

            @media ($desktop) {
                display: none;
            }
        }

        .search-bar {
            margin: 10px auto 5px auto;

            input {
                border-right: none;
                color: auto;
            }

            .input-group-append {

                button {
                    background: white;
                    border-left: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &.closed {
                display: none;
            }

            @media ($desktop) {
                margin: 0;

                &.closed {
                    display: flex;
                }
            }
        }

        .main-nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100vw;
            height: 100vh;
            background-color: $gray;
            opacity: 0.98;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .darkmode-switch {
                display: none;
            }

            #darkmode-btn:hover {
                color: $light-blue;
            }

            a {
                color: $white-blue;
                display: flex;
                align-items: center;
                font-size: 30px;
                margin-bottom: 20px;

                span {
                    margin-left: 10px;
                }

                &:focus {
                    text-decoration: none;
                    color: $light-blue;
                }

                &:hover {
                    color: $light-blue;
                }
            }

            &.hidden {
                display: none;
            }

            @media ($desktop) {
                z-index: 0;
                background: none;
                height: auto;
                width: auto;
                position: relative;
                flex-direction: row;
                justify-content: space-around;
                padding: 0;

                a {
                    color: $gray;
                    font-size: 15px;
                    margin: 0;

                    i {
                        font-size: 20px;
                    }

                    .darkmode-text {
                        display: none;
                    }
                }

                #darkmode-btn {
                    display: none;
                }

                .darkmode-switch {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-end;

                    .custom-control-label {

                        i {
                            color: $gray;
                        }
                    }
                }

                &.hidden {
                    display: flex;
                }
            }

            @media ($desktop-large) {

                a {
                    font-size: 16px;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

.footer {
    border-top: 2px solid transparent;
    background-color: $gray;
    padding: 20px 0;
    transition: $transition;

    .row {
        display: flex;
        align-items: center;

        .logo-footer {
            padding: 0 30px;
        }

        .copyright {
            color: $white-blue;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            @media ($tablet) {
                justify-content: flex-start;
            }
        }

        .redes {
            margin-top: 20px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: $white-blue;
                padding: 0;
            }

            a {
                height: 25px;
                margin-left: 15px;

                i {
                    font-size: 25px;
                    color: $white-blue;
                }

                &:hover {

                    i {
                        color: $light-blue;
                    }
                }
            }

            @media ($tablet) {
                margin: 0;
            }
        }
    }
}

.dark {

    .header {
        border-bottom: 1px solid $white-blue;
        background-color: $gray;

        .row {

            .menu {

                svg {

                    .line {
                        stroke: $white-blue;
                        transition: $transition;
                    }
                }
            }

            .header-icons-right {

                .search-toggle {

                    i {
                        color: $white-blue;
                    }

                    &:hover {

                        i {
                            color: $light-blue;
                        }
                    }
                }

                .cart {

                    i {
                        color: $white-blue;
                    }

                    &:hover {

                        i {
                            color: $light-blue;
                        }
                    }
                }
            }

            .products-link {

                i {
                    color: $white-blue;
                }

                span {
                    color: $white-blue;
                }

                &:hover {

                    i, span {
                        color: $light-blue;
                    }
                }
            }

            .search-bar {

                .input-group {

                    input {
                        background-color: $gray;
                        color: $white-blue;

                        &::placeholder {
                            color: $white-blue;
                        }
                    }

                    .input-group-append {

                        button {
                            background-color: $gray;

                            i {
                                color: $white-blue;
                            }
                        }
                    }
                }
            }

            .main-nav {

                @media ($desktop) {

                    .darkmode-switch {

                        .custom-control-label {

                            i {
                                color: $white-blue;
                            }
                        }
                    }

                    a {

                        color: $white-blue;

                        &:hover {
                            color: $light-blue;
                        }
                    }
                }
            }
        }
    }

    .footer {
        border-top: 2px solid $white-blue;
    }
}

//Estilos de las demás secciones

.body-section {
    padding-top: 40px;
    padding-bottom: 40px;

    .banner {

        .d-block{
            height: 50vh;
            padding: 3vh 0;
        }
    }

    .form-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .alert {
        margin-bottom: 60px;
    }

    .products-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;

        .products-title {
            font-size: 1.8em;
            font-weight: 400;
            color: $light-gray;

        }

        .productbox {

            a {
                color: $dark-blue;

                .productbox_effect {
                    padding: 10px 0 50px 0;
                    transition: $transition-short;

                    .card {
                        overflow: hidden;
                        border: 1px solid $dark-blue-transparent;
                        transition: $transition-short;

                        img {
                            border-bottom: 1px solid $dark-blue-transparent;
                        }

                        .card-body {
                            padding: 15px;

                            .productbox_price {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                h5 {
                                    font-size: 1.6em;
                                    font-weight: 300;
                                    margin: 0;
                                }

                                span {
                                    font-size: 1em;
                                    font-weight: 500;
                                    color: $green;
                                    margin: 0 0 0 15px;
                                }
                            }

                            p {
                                font-size: 1em;
                                width: 100%;
                                color: $light-gray;
                                margin: 0;
                                height: 0;
                                transition: $transition-short;
                                overflow: hidden;
                            }
                        }
                    }
                }

                &:hover {

                    .productbox_effect {
                        padding: 10px 0 0 0;

                        .card {
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                            transition: $transition-short;

                            .card-body {

                                p {
                                    height: 45px;
                                    margin-top: 5px;
                                    transition: $transition-short;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product-section_title {
        margin-bottom: 60px;
        color: $dark-blue;
        font-size: 30px;
    }

    .table-responsive {

        .table {

            .thead-dark {

                th {
                    background-color: $dark-blue;
                    border: 0;
                }
            }

            tbody {

                tr {

                    td {

                        .imagen {
                            background-color: gray;
                            width: 30px;
                            height: 30px;

                            img {
                                width: 100%;
                            }
                        }

                        .custom-select {
                            width: 100px;
                            padding-top: 0;
                            padding-bottom: 0;
                            height: 30px;
                        }

                        a {

                            i {
                                font-size: 20px;
                            }

                            .fa-trash {
                                color: #dc3545;
                            }

                            .fa-trash:hover {
                                color: #c82333;
                            }

                            .fa-redo-alt {
                                color: #28a745;
                            }

                            .fa-redo-alt:hover {
                                color: #218838;
                            }

                            .fa-edit {
                                color: $dark-blue;
                            }

                            .fa-toggle-on {
                                color: #28a745;
                            }
                        }
                    }

                    .product-actions {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        align-items: center;
                        padding-top: 11px;

                        form {

                            button {
                                border: none;
                                background: none;

                                .fa-trash {
                                    color: #dc3545;
                                    font-size: 20px;
                                }

                                .fa-trash:hover {
                                    color: #c82333;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .total-purchase {
                    font-weight: 800;
                }
            }
        }
    }

    .product-section_foot {
        display: flex;
        flex-flow: column wrap;
        margin-top: 50px;

        .form-control {
            margin-bottom: 50px;
        }

        .btn {
            font-weight: 600;
            min-width: 200px;
            padding: 0;
        }

        .back {
            width: 66px;
            margin-bottom: 20px;

            .btn-link {
                min-width: auto;
            }
        }

        .add-product_button {
            width: 100%;
            height: 50px;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            margin-top: 30px;

            label {
                margin: 0;
                text-align: left;
            }

            .form-control {
                margin-left: 10px;
                margin-bottom: 0;
                max-width: 300px;
            }

            .purchase, .add-product, .repeat {
                margin-left: auto;
            }

            .back {
                width: auto;
                margin: 0;
            }
        }
    }

    .admin-product {
        max-width: 500px;
        margin: 0 auto;
        padding: 50px;
        border-radius: 10px;
        box-shadow: $shadow;

        .fix-form-text {
            margin-top: -.7rem;
        }

        .text-danger {
            margin: 20px 0 0 0;
        }

        .admin-product_buttons {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {

                .btn-link {
                    padding: 0;
                }
            }
        }

        .login-register_buttons {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }

    .social {
        margin-top: 40px;

        .social-login {
            display: block;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            border-radius: 5px;

            i {
                margin-left: 25px;
            }

            img {
                margin-left: 20px;
                height: 16px;
            }

            span {
                margin-left: 20px;
            }
        }

        .facebook {
            background-color: #1A538A;
            color: white;
        }

        .google {
            background-color: white;
            color: $gray;
            border: 1px solid $gray;
        }
    }

    .form-foot {
        text-align: center;
        margin-top: 20px;
    }

    .product-detail_h2 {
        display: none;

        @media (min-width: 768px) {
            display: block;
            color: #aaa;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .product-detail_section {
        border-radius: 10px;
        box-shadow: $shadow;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;

        .left {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }

            @media (min-width: 768px) {
                width: 50%;
                margin-bottom: 0;
            }
        }

        .right {
            padding: 10px;
            width: 100%;

            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 60px;

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-bottom: 35px;
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                .price_old {
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    color: $green;

                    .price_old_mount {
                        margin-right: 5px;
                        text-decoration: line-through;
                    }

                    .price_old_discount {
                        margin-left: 5px;
                        font-weight: 500;
                    }
                }

                .price_final {
                    display: block;
                    font-size: 2.6em;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-bottom: 20px;
                }
            }

            form {
                margin-bottom: 20px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;

                .product-detail_quantity {
                    width: 70px;
                }

                .product-detail_button {
                    margin-left: 20px;
                    width: calc(100% - 90px);
                    font-weight: 600;

                    @media (min-width: 768px) {
                        max-width: 300px;
                    }
                }

                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 992px) {
                padding-top: 50px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;
        }

        @media (min-width: 992px) {
            min-height: 450px;
        }
    }

    .user {
        display: flex;
        flex-flow: column wrap;

        .user_avatar {
            width: 50%;
            align-self: center;

            img {
                width: 100%;
            }
        }

        .user_data {

            .profile-link {
                margin-bottom: 20px;
            }
        }

        @media (min-width: 768px) {
            flex-flow: row wrap;
            align-items: center;
            margin: 80px 0;

            .user_avatar {
                width: 35%;
            }

            .user_data {
                margin-left: 50px;
            }
        }

        @media (min-width: 992px) {

            .user_avatar {
                width: 25%;
            }
        }
    }

    .error {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        color: $gray;
        margin: 80px 0;

        p {
            i {
                font-size: 100px;
                margin-bottom: 30px;
            }
        }

        p:nth-child(2) {
            font-size: 150px;
            margin-bottom: 20px;
            line-height: 150px;
        }

        span {
            font-size: 30px;
        }
    }

    //Carrito
    .cart_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            color: $dark-blue;
            font-size: 1.8em;
        }

        span {
            width: 150px;
            height: 25px;
            font-size: 16px;
            background-color: #999;
            display: flex;
            justify-content: center;
            align-items: center;

            @media ($desktop) {
                display: none;
            }
        }
    }

    .cart {
        display: flex;
        flex-direction: column;

        .cart-empty {
            color: $light-blue;
            margin: 5vh auto 36.7vh auto;
        }

        .cart-left {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            width: 100%;

            .cart-left_products {
                width: 100%;

                .cart-left_products_head {
                    display: none;
                }

                .cart-item {
                    width: 100%;
                    border: 1px solid $dark-blue-transparent;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    overflow: hidden;

                    .cart-item_delete {
                        display: flex;
                        justify-content: flex-end;
                        padding: 0;

                        button {
                            margin: 0;
                            padding: 8px 10px 0 0;
                            background: none;
                            border: none;
                            outline: none;

                            i {
                                color: $gray;
                                font-size: 30px;
                            }
                        }
                    }

                    .cart-item_content {
                        display: flex;
                        align-items: center;
                        padding: 5px;

                        img {
                            color: red;
                            height: 90px;
                        }

                        .cart-item_content_detail {
                            padding-left: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            span {
                                margin: 2px 0;
                            }

                            .cart-item_content_detail_price {

                                .cart-item_content_detail_price_old {
                                    color: $light-gray;
                                    text-decoration: line-through;
                                    margin: 0 5px;
                                }
                            }
                        }

                        .cart-item_content_detail_price_desktop {
                            display: none;
                        }
                    }

                    .cart-item_quantity {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 20px;

                        .cart-item_quantity_select {
                            display: flex;
                            margin-bottom: 10px;

                            input {
                                width: 60px;
                            }

                            button {
                                margin-left: 20px;
                            }
                        }

                        .cart-item_quantity_subtotal {
                            align-self: flex-end;

                            p {
                                margin: 0;
                                font-size: 1.3em;
                            }
                        }
                    }
                }
            }

            .cart-left_foot {
                width: 100%;

                .cart_clear {
                    margin-bottom: 20px;

                    .cart_clear_form {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            background: none;
                            outline: none;
                            border: none;
                            color: $light-gray;
                            font-size: 15px;
                        }
                    }
                }

                .cart_add_more_products {
                    width: 100%;
                    margin-bottom: 20px;

                    button {
                        padding: 13px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            margin-left: 10px;
                        }
                    }
                }

            }
        }

        .cart-right {
            margin-top: 40px;

            .cart-right-summary {
                width: 100%;
                margin-bottom: 40px;
                padding: 20px;
                border: 1px solid $dark-blue-transparent;
                border-radius: 5px;
                display: flex;
                flex-direction: column;

                h5 {
                    margin-bottom: 22px;
                }

                .cart-right-summary_list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 22px;
                }

                .cart-right-summary_items_added {
                    margin-bottom: 30px;

                    span:first-child {
                        color: $light-blue;
                    }

                    span:last-child {
                        width: 120px;
                        height: 20px;
                        font-size: 14px;
                        background-color: #999;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .cart-right-summary_subtotal {
                    font-size: 18px;
                    color: $light-gray;
                }

                .cart-right-summary_discount {
                    font-size: 16px;
                    color: $green;
                }

                .cart-right-summary_total {
                    margin-top: 30px;
                    font-size: 23px;
                }
            }

            .cart-right_finish {

                width: 100%;

                .cart-right_finish_form {

                    button {
                        width: 100%;
                        padding: 20px;
                        font-weight: 500;
                        font-size: 22px;
                    }
                }
            }
        }

        @media ($desktop) {
            flex-direction: row;
            justify-content: space-between;


            .cart-left {
                width: 68%;

                .cart-left_products {
                    width: 100%;
                    border: 1px solid $dark-blue-transparent;
                    border-radius: 5px;
                    overflow: hidden;

                    .cart-left_products_head {
                        display: flex;
                        align-items: center;
                        color: white;
                        font-weight: 600;
                        height: 50px;
                        background-color: $dark-blue;

                        .cart-left_products_head_product {
                            margin-left: 90px;
                        }

                        .cart-left_products_head_price {
                            margin-left: 95px;
                        }

                        .cart-left_products_head_quantity {
                            margin-left: 55px;
                        }

                        .cart-left_products_head_subtotal {
                            margin-left: 55px;
                        }
                    }

                    .cart-item {
                        display: flex;
                        position: relative;
                        justify-content: flex-start;
                        padding: 10px;
                        margin: 0;
                        border-radius: 0;
                        border: 0;
                        border-top: 1px solid $dark-blue-transparent;

                        .cart-item_delete {
                            position: absolute;
                            top: calc((100% - 24px) / 2);
                            right: 10px;

                            button {
                                padding: 0;

                                i {
                                    font-size: 20px;
                                }
                            }
                        }

                        .cart-item_content {

                            img {
                                width: 50px;
                                height: auto;
                            }

                            .cart-item_content_detail {
                                padding-left: 25px;
                                font-size: 13px;
                                width: 180px;

                                .cart-item_content_detail_price {
                                    display: none;
                                }
                            }

                            .cart-item_content_detail_price_desktop {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 90px;

                                span {
                                    color: $light-gray;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        .cart-item_quantity {
                            flex-flow: row wrap;
                            align-items: center;
                            margin-left: 10px;
                            padding: 0;

                            .cart-item_quantity_select {
                                flex-direction: column;
                                align-items: center;
                                margin: 0;

                                input {
                                    margin-bottom: 10px;
                                }

                                button {
                                    margin: 0;
                                    font-size: 12px;
                                }
                            }

                            .cart-item_quantity_subtotal {
                                align-self: center;
                                width: 140px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                span {
                                    display: none;
                                }

                                strong {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .cart-left_foot {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 20px 0;

                    .cart_clear {
                        width: 250px;
                        margin: 0;
                    }

                    .cart_add_more_products {
                        width: 250px;
                        margin: 0;
                    }
                }
            }

            .cart-right {
                width: 30%;
                margin: 0;
            }
        }

        @media ($desktop-large) {

            .cart-left {

                .cart-left_products {

                    .cart-left_products_head {

                        .cart-left_products_head_product {
                            margin-left: 105px;
                        }

                        .cart-left_products_head_price {
                            margin-left: 135px;
                        }

                        .cart-left_products_head_quantity {
                            margin-left: 90px;
                        }

                        .cart-left_products_head_subtotal {
                            margin-left: 80px;
                        }
                    }

                    .cart-item {

                        .cart-item_content {
                            padding: 10px 0;

                            img {
                                width: 70px;
                            }

                            .cart-item_content_detail {
                                font-size: 14px;
                                width: 190px;
                            }

                            .cart-item_content_detail_price_desktop {
                                width: 150px;
                            }
                        }

                        .cart-item_quantity {
                            margin: 0;

                            .cart-item_quantity_select {
                                width: 150px;
                            }

                            .cart-item_quantity_subtotal {
                                width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}