<footer class="footer">
    <div class="container">
        <div class="row">
            <a href="/" class="logo-footer col-6 col-md-4"><img src="/images/logo/logoWhiteH.svg" alt="Logo pedí fácil"></a>
            <p class="copyright col-6 col-md-3"><span>&copy;2020 Pedí Fácil</span></p>
            <div class="redes col-12 col-md-5">
                <span>Seguinos en:</span>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>