<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <link rel="shortcut icon" type="image/svg" href="/images/logo/favicon.svg">
    <title>Iniciar sesión | Pedí Fácil</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 col-lg-3 logo-header">
                    <img src="/images/logo/logoColorH.svg" alt="">
                </div>
                <div class="col-3 col-sm-1 col-lg-2 product-grid-header">
                    <i class="fas fa-th"></i>
                </div>
                <div class="col-3 menu-button-header">
                    <i onclick="on()" class="fas fa-bars"></i>
                    <div id="overlay">
                        <div class="col-12 close-overlay">
                            <button type="button" class="btn btn-danger" onclick="off()">x</button>
                        </div>
                        <div id="overlay-menu">
                            <ul>
                                <li>Usuario <i class="fas fa-user-circle"></i></li>
                                <li>Carrito de compras <i class="fas fa-shopping-cart"></i></li>
                                <li onclick="darkMode(), off()">Dark Mode<i class="fas fa-adjust"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 search-bar-header">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Que estas buscando?"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-1 dark-mode-switch-header">
                    <div class="custom-control custom-switch">
                        <input onclick="darkMode()" type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"><i class="fas fa-adjust"></i></label>
                    </div>
                </div>
                <div class="col-sm-1 cl-lg-1 user-header">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="col-sm-1 col-lg-1 cart-header">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container">
            <form class="admin-product" method="POST">
                <div class="form-group">
                    <h1 class="form-title">Iniciá sesión</h1>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <div class="admin-product_buttons">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </div>
                <div class="social">
                    <div class="form-group">
                        <a href="#" class="social-login facebook">
                            <i class="fab fa-facebook-f"></i>
                            <span>Iniciar con Facebook</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="#" class="social-login google">
                            <img src="/images/google_logo.svg" alt="google login">
                            <span>Iniciar con Google</span>
                        </a>
                    </div>
                </div>
            </form>
            <p class="form-foot">¿No tenés cuenta? <a href="/register"><b>Registrate acá</b></a></p>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2 col-lg-2 logo-footer">
                    <img src="/images/logo/logoWhite.svg" alt="">
                </div>
                <div class="col-6 col-sm-8 col-lg-8 pf-inc">
                    <span>@ 2020 Pedi Facil Inc.</span>
                </div>
                <div class="col-4 col-sm-2 col-lg-2 social-media-icons">
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Dark mode -->
    <script src="/javascripts/darkMode.js"></script>

    <!-- Overlay menu -->
    <script src="/javascripts/overlayMenu.js"></script>

    <!-- Bootstrap -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>

</html>