<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Carrito"}) %>
</head>

<body>

    <!-- HEADER -->
    <%- include("partials/header") %>

    <!-- MAIN -->
    <section class="body-section">
        <div class="container">
            <h1 class="product-section_title"><i class="fas fa-shopping-cart"></i> Carrito de compras</h1>
            <form action="" class="product-section_form">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td><a href="/products/detail">Lorem ipsum dolor sit</a></td>
                                <td>$19.95</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto1">
                                        <option selected value="6">6</option>
                                    </select>
                                </td>
                                <td>$119.70</td>
                                <td><a href="#"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td><a href="/products/detail">Lorem ipsum dolor sit</a></td>
                                <td>$25.50</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto2">
                                        <option selected value="3">3</option>
                                    </select>
                                </td>
                                <td>$76.50</td>
                                <td><a href="#"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td><a href="/products/detail">Lorem ipsum dolor sit</a></td>
                                <td>$200.00</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto3">
                                        <option selected value="2">2</option>
                                    </select>
                                </td>
                                <td>$400.00</td>
                                <td><a href="#"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td><a href="/products/detail">Lorem ipsum dolor sit</a></td>
                                <td>$5.90</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto4">
                                        <option selected value="20">20</option>
                                    </select>
                                </td>
                                <td>$118.00</td>
                                <td><a href="#"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="imagen"></div>
                                </td>
                                <td><a href="/products/detail">Lorem ipsum dolor sit</a></td>
                                <td>$1589.95</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01" name="producto5">
                                        <option selected value="1">1</option>
                                    </select>
                                </td>
                                <td>$1589.95</td>
                                <td><a href="#"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr class="total-purchase">
                                <td></td>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td>$2304.15</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product-section_foot">
                    <label for="description">Descripción: </label>
                    <input class="form-control" id="description" name="description" type="text"
                        placeholder="Descripción">
                    <button type="submit" class="btn btn-primary purchase">Finalizar compra</button>
                </div>

            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include("partials/footer") %>

    <!-- SCRIPTS -->
    <%- include("partials/scripts") %>
</body>

</html>