<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')%>

<body>

    <!-- HEADER -->
    <%- include('partials/header')%>

    <!-- MAIN -->
    <section class="body-section">
        <div class="container">
            <form class="admin-product" method="POST">
                <div class="form-group">
                    <h1 class="form-title">Registrate</h1>
                </div>
                <div class="form-group">
                    <label for="business-name">Nombre de tu negocio:</label>
                    <input type="text" class="form-control" id="business-name" name="business-name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="name">Tu nombre:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="password">Confirmar</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="admin-product_buttons">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                    </div>
                </div>
                <div class="social">
                    <div class="form-group">
                        <a href="#" class="social-login facebook">
                            <i class="fab fa-facebook-f"></i>
                            <span>Iniciar con Facebook</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="#" class="social-login google">
                            <img src="/images/google_logo.svg" alt="google login">
                            <span>Iniciar con Google</span>
                        </a>
                    </div>
                </div>
            </form>
            <p class="form-foot">¿Ya tenés cuenta? <a href="/login"><strong>Ingresá acá</strong></a></p>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include('partials/footer')%>

    <!-- SCRIPTS -->
    <%- include('partials/scripts')%>
    
</body>

</html>