<footer>
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-2 col-lg-2 logo-footer">
                <a href="/">
                    <img src="/images/logo/logoWhite.svg" alt="">
                </a>
            </div>
            <div class="col-7 col-sm-8 col-lg-8 pf-inc">
                <span>@ 2020 Pedi Facil Inc.</span>
                <span><a href="/products">Listado de productos</a></span>
            </div>
            <div class="col-2 col-sm-2 col-lg-2 social-media-icons">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>