<header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 logo-header">
                <a href="/">
                    <img id="logoHeader" src="/images/logo/logoColorH.svg" alt="logo pedi facil">
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-1 col-lg-2 product-grid-header">
                <a href="#">
                    <i class="fas fa-th"></i>
                </a>
            </div>
            <div class="col-3 col-sm-3 menu-button-header">
                <i onclick="on()" class="fas fa-bars"></i>
                <div id="overlay">
                    <div class="col-12 col-sm-12 close-overlay">
                        <button type="button" class="btn btn-danger" onclick="off()">x</button>
                    </div>
                    <div id="overlay-menu">
                        <ul>
                            <li><a href="/login">Usuario <i class="fas fa-user-circle"></i></a></li>
                            <li><a href="/product/cart">Carrito de compras <i class="fas fa-shopping-cart"></i></a>
                            </li>
                            <li onclick="darkMode(), off()">Dark Mode <i class="fas fa-adjust"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 search-bar-header">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="¿Qué estás buscando?"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-1 dark-mode-switch-header">
                <div class="custom-control custom-switch">
                    <input onclick="darkMode()" type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"><i class="fas fa-adjust"></i></label>
                </div>
            </div>
            <div class="col-md-1 cl-lg-1 user-header">
                <a href="/login">
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>
            <div class="col-md-1 col-lg-1 cart-header">
                <a href="/product/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</header>