<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Historial de pedidos | Pedí Fácil</title>
</head>

<body>
    <section class="body-section">
        <div class="container">
            <h1 class="product-section_title"><i class="fas fa-history"></i> Historial de pedidos</h1>
            <form action="" class="product-section_form">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$119.70</td>
                                <td><a href="/product/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$76.50</td>
                                <td><a href="/product/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$400.00</td>
                                <td><a href="/product/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$118.00</td>
                                <td><a href="/product/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>Lorem ipsum dolor sit amet, consectetur</td>
                                <td>$1589.95</td>
                                <td><a href="/product/order-history-detail"><i class="fas fa-redo-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>
</body>

</html>