body{
    background-color: rgb(212, 249, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

div{
    float: left;
    background-color: white;
    border-radius: 8px;
    border: solid 1px rgb(235, 235, 235);
    width: 35%;
    height: 75vh;
    padding: 3% 5% 3% 5%;
    box-sizing: border-box;
    position: relative;
    left: 33.3%;
    top:12.5vh;
}

div img{
    width: 100%;
    height: 20vh;
}

div h3{
    text-align: center
}

form{
    padding-left: 10%;
    padding-right: 3%;
}

form label{
    width: fit-content;
    color: rgb(93, 93, 93);
    margin-right: 20%;
}

form input{
    width: 90%;
    height: 4vh;
    border-radius: 5px;
    border: solid 0.9px rgb(93, 93, 93);
    margin-top: 0%;
    margin-bottom: 5%;
}

form a{
    font-size: 0.6em;
    text-decoration: none;
    text-align: right;
    float: inline-end;
    color: rgb(93, 93, 93);
}

form button{
    width: 50%;
    height: 4.6vh;
    border-radius: 5px;
    border: solid 2px #4285F4;
    color: white;
    background-color: #4285F4;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

#enlaceFormulario{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 87vh;
}

/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/

@media(max-width:460px){
    body{
        background-color: rgb(212, 249, 255);
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0px;
        font-size: 14px;
    }
    
    div{
        float: left;
        background-color: white;
        border-radius: 8px;
        border: solid 1px rgb(235, 235, 235);
        width: 80%;
        height: 75vh;
        padding: 3% 5% 3% 5%;
        box-sizing: border-box;
        position: relative;
        left: 10%;
        top:12.5vh;
    }
    
    div img{
        width: 100%;
        height: 20vh;
    }
    
    div h3{
        text-align: center
    }
    
    form{
        padding-left: 10%;
        padding-right: 3%;
    }
    
    form label{
        width: fit-content;
        color: rgb(93, 93, 93);
        margin-right: 10%;
    }
    
    form input{
        width: 90%;
        height: 4vh;
        border-radius: 5px;
        border: solid 0.9px rgb(93, 93, 93);
        margin-top: 0%;
        margin-bottom: 5%;
    }
    
    form a{
        font-size: 0.6em;
        text-decoration: none;
        text-align: right;
        float: inline-end;
        color: rgb(93, 93, 93);
    }
    
    form button a{
        width: 50%;
        height: 4.6vh;
        border-radius: 5px;
        border: solid 2px #4285F4;
        color: white;
        background-color: #4285F4;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    #enlaceFormulario{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 87vh;
    }
    
}