body{
    width: 100vw;
    height: fit-content;
    margin: 0px;
}

/*--------------------------------*/

header{
    overflow: hidden;
    float: left;
    background-color: white;
    padding: 1% 15% 1% 20%;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-bottom: 1%;
    border-bottom: solid 5px rgb(246, 245, 245);
}

header img{
    float: left;
    width: 15%;
    height: 13vh;
}

#headerButtons{
    float: right;
    padding: 5% 0% 5% 0%;
    box-sizing: border-box;
    width: 60%;

}
#headerButtons button{
    width: 35%;
    height: 4vh;
    margin: 0% 2.5% 0% 2.5%;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
}

/*--------------------------------*/

#section01{
    overflow: hidden;
    padding: 5% 20% 6% 20%;
    box-sizing: border-box;
}

#caja1 img{
    float: left;
    width: 48%;
    height: 40vh;
    margin-bottom: 10%;
}

#caja2{
    float: right;
    width: 48%;
    height: 40vh;
    margin-bottom: 10%;
    font-size: 1.3em;
}

#caja3{
    clear: both;
    float: left;
    width: 48%;
    height: 40vh;
    font-size: 1.3em;
}

#caja4 img{
    float: right;
    width: 48%;
    height: 40vh;
}

#section01 p{
    margin-top: 0px;
    margin-bottom: 0px;
}

/*--------------------------------*/

#section02{
    overflow: hidden;
    padding: 0% 20% 5% 20%;
    box-sizing: border-box;
}

#caja5{
    float: left;
    width: 100%;
    height: 40vh;
    margin-bottom: 10%;
}

ul li{
    margin: 2% 0px 2% 0px;
    font-size: 2.5em;
}

#caja6 img{
    float: left;
    width: 100%;
    height: 50vh;
}

/*--------------------------------*/

#section03{
    text-align: center;
    overflow: hidden;
    padding: 1% 5% 1% 5%;
    box-sizing: border-box;
    background-color:#4285F4;
    float: left;
    width: 100%;
    height: fit-content;
}

#section03 h2{
    margin-bottom: 3%;
}

#section03 input{
    width: 23%;
    margin: 0% 3% 3% 3%;
    height: 4vh;
    font-size: 1em;
    border-radius: 5px;
    border: solid 1px #4285F4 ;
}

#section03 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.6%;
    width: 23%;
    height: 4vh;
    font-size: 1em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #313A46;
    background-color: #313A46;
}

footer{
    overflow: hidden;
    padding: 5% 15% 5% 15%;
    box-sizing: border-box;
    background-color: #313A46;
    float: left;
    width: 100%;
    height: fit-content;
}

footer img{
    float: left;
    width: 15%;
}


#textFooter{
    color: white;
    font-size: 1.2em;
    margin-left: 30%;
    width: fit-content;

}

#textFooter p{
    display: block;
    width: fit-content;
    float: left;
    margin-top: 0px;

}


#icons{
    float: right;
}

/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/

@media(max-width:460px){

    body{
        width: 100vw;
        height: fit-content;
        margin: 0px;
        box-sizing: border-box;
        background-color: white;
    }

    /*:::::::::::::::::::::::::::*/

    header{
        overflow: hidden;
        float: left;
        background-color: white;
        padding: 1% 10% 1% 10%;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        margin-bottom: 1%;
        border-bottom: solid 5px rgb(246, 245, 245);
    }
    
    header img{
        float: left;
        width: 30%;
        height: 15vh;
    }
    
    #headerButtons{
        float: right;
        padding: 6% 0% 5% 0%;
        box-sizing: border-box;
        width: 50%;
    
    }
    #headerButtons button{
        float: right;
        width: 70%;
        height: 4vh;
        margin: 2% 0% 2% 0%;
        border-radius: 5px;
        border: solid 1px white;
        color: white;
        font-weight: bold;
        font-size: 0.5em;
    }



    /*:::::::::::::::::::::::::::*/

    #section01{
        overflow: hidden;
        padding: 1%;
        box-sizing: border-box;
    }

    #caja1 img{
        float: left;
        width: 100%;
        height: 40vh;
        margin-bottom: 0%;
    }

    #caja2{
        float: left;
        width: 100%;
        height: fit-content;
        margin-bottom: 1%;
        font-size: 1.2em;
        background-color: white;
    }

    #caja3{
        float: left;
        width: 100%;
        height: fit-content;
        margin-bottom: 0%;
        font-size: 1.1em;
        background-color: white;
    }

    #caja4 img{
        float: left;
        width: 100%;
        height: 45vh;
        background-color: white;
        margin-bottom: 0%;
    }
    /*:::::::::::::::::::::::::::*/
    #section02{
        overflow: hidden;
        padding: 2% 0% 2% 0%;
        box-sizing: border-box;
    }

    #caja5{
        float: left;
        width: 100%;
        height: fit-content;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color: white;
    }

    ul li{
        margin: 2% 0px 2% 0px;
        font-size: 2.2em;
    }

    #caja6 img{
        float: left;
        width: 100%;
        height: 30vh;
        background-color: white;
        margin-bottom: 0%;
    }

    /*:::::::::::::::::::::::::::*/

    #section03{
        overflow: hidden;
        padding: 0%;
        box-sizing: border-box;
        background-color: #4285F4;
        float: left;
        width: 100%;
        height: fit-content;
        font-size: 0.6em;
        margin-bottom: 0%;
    }

    #section03 input{
        width: 80%;
        margin: 0% 3% 2% 3%;
        height: 3vh;
    }

    #section03 button{
        margin-left: auto;
        margin-right: auto;
        width: 81%;
        height: 4vh;
        border: solid 1px #313A46;
    }

    /*:::::::::::::::::::::::::::*/

    footer{
        overflow: hidden;
        padding: 2% 1% 2% 1%;
        box-sizing: border-box;
        background-color: rgb(53, 53, 53);
        float: left;
        width: 100%;
        height: fit-content;
        position: relative;
    }

    footer img{
        position: relative;
        display: block;
        width: 15%;
        height: 10vh;
        left:44%;
        margin: 1% 0% 1% 0%;
    }

    #textFooter{
        float: left;
        color: white;
        font-size: 0.6em;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }


    #textFooter p{
        width: fit-content;
        float: left;
        margin-top: 0px;
        margin-bottom: 1%;
        text-align: justify;
    }

    #textFooter #p2{
        position: relative;
        left: 33%
    }

    #icons{
        position: relative;
        clear: both;
        float: left;
        left: 37%;
        font-size: 1.5em;
    }

}